gearset/main/default/flows/Stage_Change_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Churned_Pro_Email</name>
        <label>Churned Pro Email</label>
        <locationX>1169</locationX>
        <locationY>1400</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>NavanProLeadership@reedmackay.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesops@navan.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ChurnedProSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ChurnedProEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <elementReference>True</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Closed_Won_Email_Alert</name>
        <label>Closed Won Email Alert</label>
        <locationX>4112</locationX>
        <locationY>1727</locationY>
        <actionName>Opportunity.Closed_Won_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Primary_Quote</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Customer_Initiated_DebookEmail</name>
        <label>Customer Initiated Debook Email</label>
        <locationX>614</locationX>
        <locationY>2071</locationY>
        <actionName>Opportunity.Customer_Initiated_Debook</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OpportunityId.OpportunityID18__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Downsold_Email_0</name>
        <label>Downsold Email</label>
        <locationX>4146</locationX>
        <locationY>2372</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SuperAdmin_Account_Creation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>NavanProLeadership@reedmackay.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesops@navan.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>DownsoldSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DownsoldProEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <elementReference>True</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Business_Opp_Closed_Lost</name>
        <label>New Business Opp Closed Lost</label>
        <locationX>2614</locationX>
        <locationY>2378</locationY>
        <actionName>Opportunity.New_Business_Opportunity_is_Closed_Lost</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Non_Customer_Initiated_Debook_Email</name>
        <label>Non-Customer Initiated Debook Email</label>
        <locationX>849</locationX>
        <locationY>2115</locationY>
        <actionName>Opportunity.Non_Customer_Initiated_Debook</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OpportunityId.OpportunityID18__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Non_Debook_Customer_Initiated_Churn_Email</name>
        <label>Non-Debook Customer Initiated Churn Email</label>
        <locationX>743</locationX>
        <locationY>1641</locationY>
        <actionName>Opportunity.Non_Debook_Customer_Initiated_Churn</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OpportunityId.OpportunityID18__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Non_Debook_Non_Customer_Initiated_Churn_Email</name>
        <label>Non-Debook Non-Customer Initiated Churn Email</label>
        <locationX>591</locationX>
        <locationY>1862</locationY>
        <actionName>Opportunity.Non_Debook_Non_Customer_Initiated_Churn</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OpportunityId.OpportunityID18__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Opp_Is_Closed_Lost</name>
        <label>Opp Is Closed Lost</label>
        <locationX>2310</locationX>
        <locationY>2397</locationY>
        <actionName>Opportunity.Opportunity_is_Closed_Lost_SDR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Stage_1_Slack_Notification</name>
        <label>Stage 1 Slack Notification</label>
        <locationX>1667</locationX>
        <locationY>1669</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>sendStage1Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>c7g5t4c6x6b3d6r1@navan.slack.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>OpportunityId.Sourced_By__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!OpportunityId.Name} hit Stage 1</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_SA_Trigger_Checkbox</name>
        <label>Update SA Trigger Checkbox</label>
        <locationX>4314</locationX>
        <locationY>2323</locationY>
        <actionName>OpportunityTriggerHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityIds</name>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Upsell_with_EBUM_Email</name>
        <label>Renewal Alert Email</label>
        <locationX>4628</locationX>
        <locationY>1313</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_Primary_Quote</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RenewalEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Upsell_with_EBUM_Email_0</name>
        <label>Upsell Alert Email</label>
        <locationX>4496</locationX>
        <locationY>1479</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_Primary_Quote</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Emails_to_Collection_AM</name>
        <label>Add Emails to Collection - AM</label>
        <locationX>4143</locationX>
        <locationY>1534</locationY>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityId.Account.Global_CS_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Renewal_or_Upsell</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Emails_to_Collection_Owner</name>
        <label>Add Emails to Collection - Owner</label>
        <locationX>4104</locationX>
        <locationY>1299</locationY>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityId.Account.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Renewal_or_Upsell</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>All_Churn_Records</name>
        <label>All Churn Records</label>
        <locationX>1540</locationX>
        <locationY>2292</locationY>
        <assignmentItems>
            <assignToReference>ChurnRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempChurnRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChurnExistingGBVs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_GBVs_to_Churn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_GBVs_to_Churn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetACVMultiplier</name>
        <label>SetACVMultiplier</label>
        <locationX>2638</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>ACVMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReverseACVMultiplier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Reversal_Branch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Temp_Churn_Record</name>
        <label>Temp Churn Record</label>
        <locationX>1540</locationX>
        <locationY>2057</locationY>
        <assignmentItems>
            <assignToReference>TempChurnRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_GBVs_to_Churn.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempChurnRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121R000001M5WT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempChurnRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempChurnRecord.TBUM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChurnedGBVTBUM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempChurnRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempChurnRecord.Country_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_GBVs_to_Churn.Country_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_GBVs_to_Churn.Churned_GBV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempChurnRecord.Originating_GBV_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_GBVs_to_Churn.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Churn_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_AMER_CSM</name>
        <label>Active AMER CSM?</label>
        <locationX>4008</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Active_EMEA_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AMER_CSM_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Account.AMER_Regional_CS_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AMER_CSM_AOLs_to_Inactive</targetReference>
            </connector>
            <label>AMER CSM Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_APAC_CSM</name>
        <label>Active APAC CSM?</label>
        <locationX>4011</locationX>
        <locationY>3396</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Closed_Won_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APAC_CSM_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Account.APAC_Regional_CS_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_APAC_CSM_AOLs_to_Inactive</targetReference>
            </connector>
            <label>APAC CSM Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_EMEA_CSM</name>
        <label>Active EMEA CSM?</label>
        <locationX>4011</locationX>
        <locationY>3232</locationY>
        <defaultConnector>
            <targetReference>Active_APAC_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EMEA_CSM_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Account.EMEA_Regional_CS_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_EMEA_CSM_AOLs_to_Inactive</targetReference>
            </connector>
            <label>EMEA CSM Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_Global_CSM</name>
        <label>Active Global CSM?</label>
        <locationX>4007</locationX>
        <locationY>2838</locationY>
        <defaultConnector>
            <targetReference>Active_AMER_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Global_CSM_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Account.Global_CS_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CSM_AOLs_to_Inactive</targetReference>
            </connector>
            <label>Global CSM Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Owner_Fields</name>
        <label>Check Owner Fields</label>
        <locationX>3737</locationX>
        <locationY>1603</locationY>
        <defaultConnector>
            <targetReference>Add_Emails_to_Collection_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_AM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Account.Global_CS_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Emails_to_Collection_AM</targetReference>
            </connector>
            <label>Active AM</label>
        </rules>
        <rules>
            <name>Inactive_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Account.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Quote</targetReference>
            </connector>
            <label>Inactive Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Churn_Template_Decision</name>
        <label>Churn Template Decision</label>
        <locationX>873</locationX>
        <locationY>1893</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Initiated_Debook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Did_the_customer_request_to_terminate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Primary_Closed_Lost_Factors__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>De-booked (Never Launched)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Initiated_DebookEmail</targetReference>
            </connector>
            <label>Customer Initiated Debook</label>
        </rules>
        <rules>
            <name>Non_Customer_Initiated_Debook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Did_the_customer_request_to_terminate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Primary_Closed_Lost_Factors__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>De-booked (Never Launched)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Customer_Initiated_Debook_Email</targetReference>
            </connector>
            <label>Non-Customer Initiated Debook</label>
        </rules>
        <rules>
            <name>Customer_Initiated_Churn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Did_the_customer_request_to_terminate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Primary_Closed_Lost_Factors__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>De-booked (Never Launched)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Debook_Customer_Initiated_Churn_Email</targetReference>
            </connector>
            <label>Customer Initiated Churn</label>
        </rules>
        <rules>
            <name>Non_Customer_Initiated_Churn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Did_the_customer_request_to_terminate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Primary_Closed_Lost_Factors__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>De-booked (Never Launched)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Debook_Non_Customer_Initiated_Churn_Email</targetReference>
            </connector>
            <label>Non-Customer Initiated Churn</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Lost_Branch</name>
        <label>Closed Lost Branch</label>
        <locationX>2446</locationX>
        <locationY>2058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business_or_Upsell_Closed_Lost</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upsell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Branch</targetReference>
            </connector>
            <label>New Business or Upsell (Closed Lost)</label>
        </rules>
        <rules>
            <name>Renewal_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GBVs_to_Churn</targetReference>
            </connector>
            <label>Renewal (Closed Lost)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Won_Branch</name>
        <label>Closed Won Branch</label>
        <locationX>3539</locationX>
        <locationY>2149</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business_Closed_Won</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AOLs_to_Inactive</targetReference>
            </connector>
            <label>New Business (Closed Won)</label>
        </rules>
        <rules>
            <name>Upsell_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upsell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Contract</targetReference>
            </connector>
            <label>Upsell (Closed Won)</label>
        </rules>
        <rules>
            <name>Pilot_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pilot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pilot_Account_Closed_Won</targetReference>
            </connector>
            <label>Pilot (Closed Won)</label>
        </rules>
        <rules>
            <name>Renewal_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Renewal</targetReference>
            </connector>
            <label>Renewal (Closed Won)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Found_to_Delete</name>
        <label>Contract Found to Delete?</label>
        <locationX>3798</locationX>
        <locationY>1377</locationY>
        <defaultConnector>
            <targetReference>Get_Order_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Contract_Renewals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Contract</targetReference>
            </connector>
            <label>Contract Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_they_churn_pro</name>
        <label>Did they churn pro?</label>
        <locationX>1426</locationX>
        <locationY>1517</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Churned_Pro</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Up_for_Renewal_Opp_Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Downsold_Opp_Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Churned_Pro_Email</targetReference>
            </connector>
            <label>Churned Pro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Downsold_Pro_0</name>
        <label>Downsold Pro?</label>
        <locationX>3997</locationX>
        <locationY>2535</locationY>
        <defaultConnector>
            <targetReference>SuperAdmin_Account_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Downsold_Pro_Opp_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Downsold_Opp_Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Downsold_Email_0</targetReference>
            </connector>
            <label>Downsold Pro Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_do_not_send_churn_email_checked</name>
        <label>Is do not send churn email checked?</label>
        <locationX>1076</locationX>
        <locationY>1891</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_churn_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Do_not_send_churn_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Churn_Template_Decision</targetReference>
            </connector>
            <label>Send churn email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_Branch</name>
        <label>Notification Branch</label>
        <locationX>2464</locationX>
        <locationY>2261</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AE_SDR_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Date_20_Hit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Sourced_By__r.Standardized_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Sourced_By__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Owner.Standardized_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Executive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Is_Closed_Lost</targetReference>
            </connector>
            <label>AE/SDR Notification</label>
        </rules>
        <rules>
            <name>AE_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Date_20_Hit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Owner.Standardized_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Executive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Business_Opp_Closed_Lost</targetReference>
            </connector>
            <label>AE Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type</name>
        <label>Opportunity Type</label>
        <locationX>3131</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Sales_Submitted_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business_Opp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Sales_Submitted</targetReference>
            </connector>
            <label>New Business Opp</label>
        </rules>
        <rules>
            <name>Upsell_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upsell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Sales_Submitted_Upsell</targetReference>
            </connector>
            <label>Upsell Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type_VoC</name>
        <label>Opportunity Type - VoC</label>
        <locationX>2356</locationX>
        <locationY>1334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business_Opp_VoC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Vendor_of_Choice</targetReference>
            </connector>
            <label>New Business Opp - VoC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Quote_Found</name>
        <label>Primary Quote Found</label>
        <locationX>4576</locationX>
        <locationY>1986</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Primary Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_or_Upsell</name>
        <label>Renewal or Upsell?</label>
        <locationX>4274</locationX>
        <locationY>1361</locationY>
        <defaultConnector>
            <targetReference>Upsell_with_EBUM_Email_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsell_with_EBUM_Email</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewals_Found_to_Delete</name>
        <label>Renewals Found to Delete?</label>
        <locationX>3355</locationX>
        <locationY>1041</locationY>
        <defaultConnector>
            <targetReference>Get_Old_Contract_Renewals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewals_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Renewals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Open_Renewal_Opportunities</targetReference>
            </connector>
            <label>Renewals Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SDR_or_MDR_Opp</name>
        <label>SDR or MDR Opp</label>
        <locationX>1922</locationX>
        <locationY>1670</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Sourced_By__r.Standardized_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Sourced_By__r.Standardized_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_1_Slack_Notification</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_EBUM_Upsell_Alert</name>
        <label>Send EBUM Upsell Alert</label>
        <locationX>3848</locationX>
        <locationY>1831</locationY>
        <defaultConnector>
            <targetReference>Get_Primary_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upsell_with_EBUM</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upsell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Owner_Fields</targetReference>
            </connector>
            <label>Upsell with EBUM</label>
        </rules>
        <rules>
            <name>New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Won_Email_Alert</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Being_Reversed</name>
        <label>Stage Being Reversed?</label>
        <locationX>2070</locationX>
        <locationY>649</locationY>
        <defaultConnector>
            <targetReference>Stage_Branch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Reversal_Entry_Criteria</name>
            <conditionLogic>(1 AND 2 AND 3) OR (3 AND 4) OR (5 AND 7 AND 8) OR (6 AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_SS_CW_PCL_CL_Opp</targetReference>
            </connector>
            <label>Stage Reversal Entry Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Branch</name>
        <label>Stage Branch</label>
        <locationX>2528</locationX>
        <locationY>1591</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scope</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2. Scope</stringValue>
                </rightValue>
            </conditions>
            <label>Scope</label>
        </rules>
        <rules>
            <name>Vendor_of_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3. Vendor of Choice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Type_VoC</targetReference>
            </connector>
            <label>Vendor of Choice</label>
        </rules>
        <rules>
            <name>Pending_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Closed_Lost_0</targetReference>
            </connector>
            <label>Pending Closed Lost</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approvals_CL</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
        <rules>
            <name>SalesSubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Implementation_Package</targetReference>
            </connector>
            <label>Sales Submitted</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approvals_CW</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1. Champion Identification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Opp_Update_Sourced_by</targetReference>
            </connector>
            <label>Champion Identification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Reversal_Branch</name>
        <label>Stage Reversal Branch</label>
        <locationX>3041</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PCL_CL</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_PCL_CL</targetReference>
            </connector>
            <label>PCL/CL</label>
        </rules>
        <rules>
            <name>SS_Reversal_NB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_SS_Reverse_NB</targetReference>
            </connector>
            <label>SS Reversal NB</label>
        </rules>
        <rules>
            <name>SS_Reversal_Upsell_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_SS_Reverse_NB_Upsell_Renewal_0_0_0</targetReference>
            </connector>
            <label>SS Reversal Upsell/Renewal</label>
        </rules>
        <rules>
            <name>CW_Reversal_SS_NB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_CW_Reversal_SS_NB</targetReference>
            </connector>
            <label>CW Reversal SS NB</label>
        </rules>
        <rules>
            <name>CW_Reversal_NB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_CW_Reversal_NB</targetReference>
            </connector>
            <label>CW Reversal NB</label>
        </rules>
        <rules>
            <name>CW_Reversal_SS_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_CW_Reverse_SS_Upsell_Renewal</targetReference>
            </connector>
            <label>CW Reversal SS Renewal</label>
        </rules>
        <rules>
            <name>CW_Reversal_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Reverse_NB_Upsell_Renewal</targetReference>
            </connector>
            <label>CW Reversal Renewal</label>
        </rules>
        <rules>
            <name>CW_Reversal_SS_Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_CW_Reverse_SS_Upsell_Renewal</targetReference>
            </connector>
            <label>CW Reversal SS Upsell</label>
        </rules>
        <rules>
            <name>CW_Reversal_Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Reverse_NB_Upsell_Renewal</targetReference>
            </connector>
            <label>CW Reversal Upsell</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updated_Contract</name>
        <label>Updated Contract</label>
        <locationX>4016</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Update_Account_CW_Upsell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amend_Contract_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.SBQQ__AmendedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Upsell</targetReference>
            </connector>
            <label>Amend Contract Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updated_Liquid_Travel_Status</name>
        <label>Updated Liquid Travel Status</label>
        <locationX>3035</locationX>
        <locationY>2143</locationY>
        <defaultConnector>
            <targetReference>Closed_Won_Branch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Status</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Account.Liquid_Launch_Status_Travel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Account.Liquid_Launch_Status_Travel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Potential_EBUM_Travel__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Travel_Launch_Status_to_Implementation</targetReference>
            </connector>
            <label>Update Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_an_Order_Found</name>
        <label>Was an Order Found?</label>
        <locationX>3261</locationX>
        <locationY>1244</locationY>
        <defaultConnector>
            <targetReference>Update_Countries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_to_Update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Debooked_Order</targetReference>
            </connector>
            <label>Order Found</label>
        </rules>
    </decisions>
    <description>SFDC-3677: Remove deprecated country fields</description>
    <environments>Default</environments>
    <formulas>
        <name>AccountStatus</name>
        <dataType>String</dataType>
        <expression>IF(
 {!Get_Latest_SS_CW_PCL_CL_Opp.Id} = &quot;&quot;,
 &quot;&quot;,
 &quot;Reengaged Customer&quot;
)</expression>
    </formulas>
    <formulas>
        <name>AccountType</name>
        <dataType>String</dataType>
        <expression>IF(
 {!Get_Latest_SS_CW_PCL_CL_Opp.Id} = &quot;&quot;,
 &quot;Prospect&quot;,
 &quot;Customer&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ChurnedGBVTBUM</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Through_GBVs_to_Churn.TBUM__c}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ConvertedWeightedTripFee</name>
        <dataType>Currency</dataType>
        <expression>{!OpportunityId.Weighted_Trip_Fee__c}*CURRENCYRATE(TEXT({!OpportunityId.Account.CurrencyIsoCode}))/CURRENCYRATE(TEXT({!OpportunityId.CurrencyIsoCode}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CPQOrdered</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!OpportunityId.CPQ_CPQ_Opportunity__c} = TRUE,
TRUE,
FALSE
)</expression>
    </formulas>
    <formulas>
        <name>CurrentACVMultiplier</name>
        <dataType>String</dataType>
        <expression>IF(
 OR(
 CONTAINS({!OpportunityId.Opportunity_Product_Type__c},&quot;Expense&quot;),
 TEXT({!OpportunityId.Account.Sales_Comp_ACV_Multiplier__c}) = &quot;3X&quot;
),
&quot;3X&quot;,
&quot;1X&quot;
)</expression>
    </formulas>
    <formulas>
        <name>CWFinanceReviewStatus</name>
        <dataType>String</dataType>
        <expression>IF(
 {!$Permission.VR_Bypass_Finance_Revenue_Accounting} = TRUE,
 &quot;Finance - Complete&quot;,
 TEXT({!OpportunityId.Finance_Review_Status__c})
)</expression>
    </formulas>
    <formulas>
        <name>EURLocalEntityCountryFormula</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK(TEXT({!OpportunityId.SBQQ__PrimaryQuote__r.EUR_Local_Entity_Country__c}))),
  TEXT({!OpportunityId.SBQQ__PrimaryQuote__r.EUR_Local_Entity_Country__c}),
  TEXT({!OpportunityId.SBQQ__AmendedContract__r.EUR_Local_Entity_Country__c})
)</expression>
    </formulas>
    <formulas>
        <name>EURLocalEntityNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT(ISBLANK({!OpportunityId.SBQQ__PrimaryQuote__r.EUR_Local_Entity_Name__c})),
 {!OpportunityId.SBQQ__PrimaryQuote__r.EUR_Local_Entity_Name__c},
 {!OpportunityId.SBQQ__AmendedContract__r.EUR_Local_Entity_Name__c}
)</expression>
    </formulas>
    <formulas>
        <name>EuroLocalEntityAddressFormula</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT(ISBLANK({!OpportunityId.SBQQ__PrimaryQuote__r.EUR_Local_Entity_Address__c})),
 {!OpportunityId.SBQQ__PrimaryQuote__r.EUR_Local_Entity_Address__c},
 {!OpportunityId.SBQQ__AmendedContract__r.EUR_Local_Entity_Address__c}
)</expression>
    </formulas>
    <formulas>
        <name>ExpenseAEFormula</name>
        <dataType>String</dataType>
        <expression>IF(
 AND(
  {!OpportunityId.Potential_EBUM_Expense__c} &gt; 0 = FALSE,
  {!OpportunityId.Owner.User_Region__c} = &quot;North America&quot;,
  OR(
   {!OpportunityId.Account.Contracted_Revenue_Segment__c} = &quot;Mid-Market 2&quot;,
   {!OpportunityId.Account.Contracted_Revenue_Segment__c} = &quot;Enterprise&quot;,
   {!OpportunityId.Account.Contracted_Revenue_Segment__c} = &quot;Named&quot;
  )
 ),
 &quot;0051R00000H1e1zQAB&quot;,
 {!OpportunityId.Account.Expense_Account_Executive__c}
)</expression>
    </formulas>
    <formulas>
        <name>FXFeePercentage</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISPICKVAL({!OpportunityId.SBQQ__PrimaryQuote__r.FX_Fee_EUR_GBP__c}, &quot;&quot;)), TEXT({!OpportunityId.SBQQ__PrimaryQuote__r.FX_Fee_EUR_GBP__c}),
TEXT({!OpportunityId.SBQQ__AmendedContract__r.FX_Fee_EUR_GBP__c}))</expression>
    </formulas>
    <formulas>
        <name>GBPLocalEntityAddressFormula</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT(ISBLANK({!OpportunityId.SBQQ__PrimaryQuote__r.GBP_Local_Entity_Address__c})),
 {!OpportunityId.SBQQ__PrimaryQuote__r.GBP_Local_Entity_Address__c},
 {!OpportunityId.SBQQ__AmendedContract__r.GBP_Local_Entity_Address__c}
)</expression>
    </formulas>
    <formulas>
        <name>GBPLocalEntityNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT(ISBLANK({!OpportunityId.SBQQ__PrimaryQuote__r.GBP_Local_Entity_Name__c})),
 {!OpportunityId.SBQQ__PrimaryQuote__r.GBP_Local_Entity_Name__c},
 {!OpportunityId.SBQQ__AmendedContract__r.GBP_Local_Entity_Name__c}
)</expression>
    </formulas>
    <formulas>
        <name>LatestSSCWPCLCLOpp</name>
        <dataType>String</dataType>
        <expression>IF(
 ISNULL({!Get_Latest_SS_CW_PCL_CL_Opp.Id}),
 &quot;&quot;,
 {!Get_Latest_SS_CW_PCL_CL_Opp.Id}
)</expression>
    </formulas>
    <formulas>
        <name>LiquidPaymentMethod</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!OpportunityId.SBQQ__PrimaryQuote__r.Liquid_Payment_Method__c}) != &quot;&quot;, TEXT({!OpportunityId.SBQQ__PrimaryQuote__r.Liquid_Payment_Method__c}), TEXT({!OpportunityId.SBQQ__AmendedContract__r.Liquid_Payment_Method__c}))</expression>
    </formulas>
    <formulas>
        <name>LiquidPaymentTerms</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!OpportunityId.SBQQ__PrimaryQuote__r.Liquid_Payment_Terms__c}) != &quot;&quot;, TEXT({!OpportunityId.SBQQ__PrimaryQuote__r.Liquid_Payment_Terms__c}), TEXT({!OpportunityId.SBQQ__AmendedContract__r.Liquid_Payment_Terms__c}))</expression>
    </formulas>
    <formulas>
        <name>LiquidRebate</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!OpportunityId.SBQQ__PrimaryQuote__r.Liquid_Rebate__c}) != &quot;&quot;, TEXT({!OpportunityId.SBQQ__PrimaryQuote__r.Liquid_Rebate__c}), TEXT({!OpportunityId.SBQQ__AmendedContract__r.Liquid_Rebate__c}))</expression>
    </formulas>
    <formulas>
        <name>NBLiquidLaunchStatusExpense</name>
        <dataType>String</dataType>
        <expression>IF(
 {!OpportunityId.Potential_EBUM_Expense__c} &gt; 0,
 &quot;Pending&quot;,
 &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Pause10Minutes</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+0.007</expression>
    </formulas>
    <formulas>
        <name>RenewalSelfSellAccount</name>
        <dataType>Boolean</dataType>
        <expression>IF(
 AND(
  {!OpportunityId.Self_Sell_Opportunity__c} = FALSE,
  {!OpportunityId.Account.Self_Sell_Account__c} = TRUE
 ),
 FALSE,
 {!OpportunityId.Account.Self_Sell_Account__c}
)</expression>
    </formulas>
    <formulas>
        <name>ReverseACVMultiplier</name>
        <dataType>String</dataType>
        <expression>IF(
 TEXT({!OpportunityId.Type}) = &quot;New Business&quot;,
 &quot;&quot;,
 IF(
  OR(
   TEXT({!OpportunityId.Account.Sales_Comp_ACV_Multiplier__c}) = &quot;1X&quot;,
  AND(
   CONTAINS({!OpportunityId.Opportunity_Product_Type__c}, &quot;Expense&quot;),
   {!OpportunityId.Account.Liquid_Spend_First_Sold_Date__c} = {!OpportunityId.CloseDate}
  )
 ),
&quot;1X&quot;,
 &quot;3X&quot;
 )
)</expression>
    </formulas>
    <formulas>
        <name>ReverseExpenseFirstSoldDate</name>
        <dataType>Date</dataType>
        <expression>IF(
 AND(
 CONTAINS({!OpportunityId.Opportunity_Product_Type__c}, &quot;Expense&quot;),
 TEXT({!OpportunityId.Account.Liquid_Spend_First_Sold_Date__c}) &lt;&gt; &quot;&quot;,
 {!OpportunityId.Account.Liquid_Spend_First_Sold_Date__c} = {!OpportunityId.CloseDate}
),
DATEVALUE(&quot;&quot;),
{!OpportunityId.Account.Liquid_Spend_First_Sold_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>SourcedByFormula</name>
        <dataType>String</dataType>
        <expression>IF(
 TEXT({!OpportunityId.Type}) = &quot;Renewal&quot;,
 {!$User.UserID18__c},
 {!OpportunityId.Sourced_By__r.UserID18__c}
)</expression>
    </formulas>
    <formulas>
        <name>TCSFirstSoldDate</name>
        <dataType>Date</dataType>
        <expression>IF(
 AND(
 TEXT({!OpportunityId.Account.Liquid_Spend_First_Sold_Date__c}) = &quot;&quot;,
 OR(
 AND(
  TEXT({!OpportunityId.Type}) = &quot;Renewal&quot;,
  CONTAINS({!OpportunityId.Upsold_Opp_Product_Type__c}, &quot;Expense&quot;)
 ),
 AND(
  TEXT({!OpportunityId.Type}) &lt;&gt; &quot;Renewal&quot;,
  CONTAINS({!OpportunityId.Opportunity_Product_Type__c},&quot;Expense&quot;)
  )
 )
),
{!OpportunityId.CloseDate},
{!OpportunityId.Account.Liquid_Spend_First_Sold_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>UpdatedChildAccountType</name>
        <dataType>String</dataType>
        <expression>IF(
 AND(
  TEXT({!OpportunityId.Active_or_Inactive_Subsidiary__c}) = &quot;Inactive Subsidiary (Out of Business)&quot;,
  OR(
   {!OpportunityId.Account.ParentId} &lt;&gt; &quot;&quot;,
   {!OpportunityId.Parent_Account__c} &lt;&gt; &quot;&quot;
  )
  ),
  &quot;Acquired&quot;,
 IF(
 AND(
  TEXT({!OpportunityId.Active_or_Inactive_Subsidiary__c}) = &quot;Active Subsidiary&quot;,
  OR(
   {!OpportunityId.Account.ParentId} &lt;&gt; &quot;&quot;,
   {!OpportunityId.Parent_Account__c} &lt;&gt; &quot;&quot;
  )
 ),
  &quot;Subsidiary&quot;,
 IF(
  AND(
   {!OpportunityId.Account.ParentId} &lt;&gt; &quot;&quot;,
   TEXT({!OpportunityId.Account.Child_Account_Type__c}) &lt;&gt; &quot;&quot;
   ),
   TEXT({!OpportunityId.Account.Child_Account_Type__c}),
 IF(
   {!OpportunityId.Account.ParentId} &lt;&gt; &quot;&quot;,
  &quot;Subsidiary&quot;,
 &quot;&quot;
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>UpdatedContractingThroughParentAccount</name>
        <dataType>Boolean</dataType>
        <expression>IF(
 TEXT({!OpportunityId.Secondary_Closed_Lost_Factors__c}) = &quot;Acquired by another Navan Customer&quot;,
 TRUE,
 FALSE
 )</expression>
    </formulas>
    <formulas>
        <name>UpdatedImplementationPackage</name>
        <dataType>String</dataType>
        <expression>IF(
 {!Get_Implementation_Package.Id} = &quot;&quot;,
{!OpportunityId.Account.Current_Implementation_Package__c},
{!Get_Implementation_Package.Product2.Name}
)</expression>
    </formulas>
    <formulas>
        <name>UpdatedLiquidSpendLaunchStatus</name>
        <dataType>String</dataType>
        <expression>IF(
 AND(
  NOT(ISPICKVAL({!OpportunityId.Account.Liquid_Launch_Status_Travel__c},&quot;&quot;)),
  TEXT({!OpportunityId.Primary_Closed_Lost_Factors__c}) = &quot;De-booked (Never Launched)&quot;
 ),
 &quot;Debooked&quot;,
IF(
 NOT(ISPICKVAL({!OpportunityId.Account.Liquid_Launch_Status_Expense__c},&quot;&quot;)),
 &quot;Churned&quot;,
 &quot;&quot;
)
)</expression>
    </formulas>
    <formulas>
        <name>UpdatedLiquidTravelLaunchStatus</name>
        <dataType>String</dataType>
        <expression>IF(
 AND(
  NOT(ISPICKVAL({!OpportunityId.Account.Liquid_Launch_Status_Travel__c},&quot;&quot;)),
  TEXT({!OpportunityId.Primary_Closed_Lost_Factors__c}) = &quot;De-booked (Never Launched)&quot;
 ),
 &quot;Debooked&quot;,
IF(
 NOT(ISPICKVAL({!OpportunityId.Account.Liquid_Launch_Status_Travel__c},&quot;&quot;)),
 &quot;Churned&quot;,
 &quot;&quot;
)
)</expression>
    </formulas>
    <formulas>
        <name>UpdatedParentAccount</name>
        <dataType>String</dataType>
        <expression>IF(
 {!OpportunityId.Parent_Account__c} &lt;&gt; &quot;&quot;,
 {!OpportunityId.Parent_Account__c},
 {!OpportunityId.Account.ParentId}
)</expression>
    </formulas>
    <formulas>
        <name>UpdatedServicePackage</name>
        <dataType>String</dataType>
        <expression>IF(
 {!Get_Service_Package.Id} = &quot;&quot;,
{!OpportunityId.Account.Current_Service_Package__c},
{!Get_Service_Package.Product2.Name}
)</expression>
    </formulas>
    <formulas>
        <name>UpdatedTerritoryPatch</name>
        <dataType>String</dataType>
        <expression>IF(
 OR(
  AND(
   {!OpportunityId.Parent_Account__c} = &quot;&quot;,
   {!OpportunityId.Account.ParentId} &lt;&gt; &quot;&quot;,
   TEXT({!OpportunityId.Account.Child_Account_Type__c}) = &quot;Acquired&quot;
  ),
 TEXT({!OpportunityId.Active_or_Inactive_Subsidiary__c}) = &quot;Inactive Subsidiary (Out of Business)&quot;
  ),
 &quot;a4K1R000000FG6yUAG&quot;,
  {!OpportunityId.Account.Territory_Patch__r.PatchID18__c}
)</expression>
    </formulas>
    <formulas>
        <name>UpsellRenewalLiquidExpenseLaunchStatus</name>
        <dataType>String</dataType>
        <expression>IF(
 OR(
  TEXT({!OpportunityId.Account.Liquid_Launch_Status_Expense__c}) = &quot;&quot;,
  TEXT({!OpportunityId.Account.Liquid_Launch_Status_Expense__c}) = &quot;Churned&quot;
 ),
 &quot;Pending&quot;,
  TEXT({!OpportunityId.Account.Liquid_Launch_Status_Expense__c})
)</expression>
    </formulas>
    <formulas>
        <name>USDLocalEntityAddressFormula</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT(ISBLANK({!OpportunityId.SBQQ__PrimaryQuote__r.USD_Local_Entity_Address__c})),
 {!OpportunityId.SBQQ__PrimaryQuote__r.USD_Local_Entity_Address__c},
 {!OpportunityId.SBQQ__AmendedContract__r.USD_Local_Entity_Address__c}
)</expression>
    </formulas>
    <formulas>
        <name>USDLocalEntityNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT(ISBLANK({!OpportunityId.SBQQ__PrimaryQuote__r.USD_Local_Entity_Name__c})),
 {!OpportunityId.SBQQ__PrimaryQuote__r.USD_Local_Entity_Name__c},
 {!OpportunityId.SBQQ__AmendedContract__r.USD_Local_Entity_Name__c}
)</expression>
    </formulas>
    <interviewLabel>Stage Change Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Stage Change Flow</label>
    <loops>
        <name>Loop_Through_GBVs_to_Churn</name>
        <label>Loop Through GBVs to Churn</label>
        <locationX>1879</locationX>
        <locationY>2176</locationY>
        <collectionReference>Get_GBVs_to_Churn</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Temp_Churn_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Churn_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_TBUMs</name>
        <label>Loop Through TBUMs</label>
        <locationX>2681</locationX>
        <locationY>1369</locationY>
        <collectionReference>Get_TBUMs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_TBUM</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AMER_CSM_AOL_Record</name>
        <label>Create AMER CSM AOL Record</label>
        <locationX>3908</locationX>
        <locationY>3099</locationY>
        <connector>
            <targetReference>Active_EMEA_CSM</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Owner_Manager__c</field>
            <value>
                <elementReference>OpportunityId.Account.AMER_Regional_CS_Manager__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Owner__c</field>
            <value>
                <elementReference>OpportunityId.Account.AMER_Regional_CS_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Type__c</field>
            <value>
                <stringValue>AMER Regional CS Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Object_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comp_Split_Percentage__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account_Owner_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_AOL_Record</name>
        <label>Create AOL Record</label>
        <locationX>3851</locationX>
        <locationY>2708</locationY>
        <connector>
            <targetReference>Active_Global_CSM</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Owner_Manager__c</field>
            <value>
                <elementReference>OpportunityId.Account.Owner.Manager.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Owner__c</field>
            <value>
                <elementReference>OpportunityId.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Type__c</field>
            <value>
                <stringValue>Account Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Object_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comp_Split_Percentage__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account_Owner_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_APAC_CSM_AOL_Record</name>
        <label>Create APAC CSM AOL Record</label>
        <locationX>4207</locationX>
        <locationY>3564</locationY>
        <connector>
            <targetReference>Update_Account_Closed_Won_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Owner_Manager__c</field>
            <value>
                <elementReference>OpportunityId.Account.APAC_Regional_CS_Manager__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Owner__c</field>
            <value>
                <elementReference>OpportunityId.Account.APAC_Regional_CS_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Type__c</field>
            <value>
                <stringValue>APAC Regional CS Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Object_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comp_Split_Percentage__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account_Owner_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Churn_Records</name>
        <label>Create Churn Records</label>
        <locationX>1734</locationX>
        <locationY>1913</locationY>
        <connector>
            <targetReference>Updating_Existing_GBVs_Churn</targetReference>
        </connector>
        <inputReference>ChurnRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CSM_AOL_Record</name>
        <label>Create CSM AOL Record</label>
        <locationX>3851</locationX>
        <locationY>2869</locationY>
        <connector>
            <targetReference>Active_AMER_CSM</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Owner_Manager__c</field>
            <value>
                <elementReference>OpportunityId.Account.Global_CS_Manager__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Owner__c</field>
            <value>
                <elementReference>OpportunityId.Account.Global_CS_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Type__c</field>
            <value>
                <stringValue>Global CS Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Object_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comp_Split_Percentage__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account_Owner_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EMEA_CSM_AOL_Record</name>
        <label>Create EMEA CSM AOL Record</label>
        <locationX>3753</locationX>
        <locationY>3394</locationY>
        <connector>
            <targetReference>Active_APAC_CSM</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Owner_Manager__c</field>
            <value>
                <elementReference>OpportunityId.Account.EMEA_Regional_CS_Manager__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Owner__c</field>
            <value>
                <elementReference>OpportunityId.Account.EMEA_Regional_CS_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Log_Type__c</field>
            <value>
                <stringValue>EMEA Regional CS Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Owner_Object_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comp_Split_Percentage__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account_Owner_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Contract</name>
        <label>Delete Old Contract</label>
        <locationX>3505</locationX>
        <locationY>1250</locationY>
        <connector>
            <targetReference>Get_Order_to_Update</targetReference>
        </connector>
        <inputReference>Get_Old_Contract_Renewals</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Open_Renewal_Opportunities</name>
        <label>Delete Open Renewal Opportunities</label>
        <locationX>3614</locationX>
        <locationY>1033</locationY>
        <connector>
            <targetReference>Get_Old_Contract_Renewals</targetReference>
        </connector>
        <inputReference>Get_Open_Renewals</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_GBVs_to_Churn</name>
        <label>Get GBVs to Churn</label>
        <locationX>2243</locationX>
        <locationY>2054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_GBVs_to_Churn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Close_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>OpportunityId.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Close_Date__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TBUM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Implementation_Package</name>
        <label>Get Implementation Package</label>
        <locationX>2859</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Package</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation Package</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_SS_CW_PCL_CL_Opp</name>
        <label>Get Latest SS/CW/PCL/CL Opp</label>
        <locationX>2344</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetACVMultiplier</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR (4 AND 5))</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Contract_Renewals</name>
        <label>Get Old Contract Renewals</label>
        <locationX>3806</locationX>
        <locationY>1220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Found_to_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Renewals</name>
        <label>Get Open Renewals</label>
        <locationX>3363</locationX>
        <locationY>869</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewals_Found_to_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_to_Update</name>
        <label>Get Order to Update</label>
        <locationX>3407</locationX>
        <locationY>1375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_an_Order_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Debooked_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Quote</name>
        <label>Get Primary Quote</label>
        <locationX>4330</locationX>
        <locationY>1986</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Quote_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Package</name>
        <label>Get Service Package</label>
        <locationX>2987</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Type</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Travel &amp; Liquid Spend Edition</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Liquid Spend Edition</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TBUMs</name>
        <label>Get TBUMs</label>
        <locationX>2844</locationX>
        <locationY>1341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_TBUMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TBUM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Renewal_Opp_Update_Sourced_by</name>
        <label>Renewal Opp- Update Sourced by</label>
        <locationX>2220</locationX>
        <locationY>1676</locationY>
        <connector>
            <targetReference>SDR_or_MDR_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityID18__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.OpportunityID18__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sourced_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_AMER_CSM_AOLs_to_Inactive</name>
        <label>Set AMER CSM AOLs to Inactive</label>
        <locationX>3729</locationX>
        <locationY>3029</locationY>
        <connector>
            <targetReference>Create_AMER_CSM_AOL_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Owner_Object_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Owner_Log_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMER Regional CS Manager</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Owner_Object_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account_Owner_Log__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_AOLs_to_Inactive</name>
        <label>Set AOLs to Inactive</label>
        <locationX>3425</locationX>
        <locationY>2727</locationY>
        <connector>
            <targetReference>Create_AOL_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Owner_Object_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Owner_Object_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account_Owner_Log__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_APAC_CSM_AOLs_to_Inactive</name>
        <label>Set APAC CSM AOLs to Inactive</label>
        <locationX>4018</locationX>
        <locationY>3560</locationY>
        <connector>
            <targetReference>Create_APAC_CSM_AOL_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Owner_Object_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Owner_Log_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APAC Regional CS Manager</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Owner_Object_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account_Owner_Log__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_CSM_AOLs_to_Inactive</name>
        <label>Set CSM AOLs to Inactive</label>
        <locationX>3673</locationX>
        <locationY>2874</locationY>
        <connector>
            <targetReference>Create_CSM_AOL_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Owner_Object_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Owner_Log_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Global CS Manager</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Owner_Object_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account_Owner_Log__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_EMEA_CSM_AOLs_to_Inactive</name>
        <label>Set EMEA CSM AOLs to Inactive</label>
        <locationX>3751</locationX>
        <locationY>3235</locationY>
        <connector>
            <targetReference>Create_EMEA_CSM_AOL_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Owner_Object_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Owner_Log_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EMEA Regional CS Manager</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Owner_Object_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account_Owner_Log__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Travel_Launch_Status_to_Implementation</name>
        <label>Travel Launch Status to Implementation</label>
        <locationX>3205</locationX>
        <locationY>2319</locationY>
        <connector>
            <targetReference>Closed_Won_Branch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Liquid_Launch_Status_Travel__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>4793</locationX>
        <locationY>1984</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Get_Primary_Quote.SBQQ__BillingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Get_Primary_Quote.SBQQ__BillingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Get_Primary_Quote.SBQQ__BillingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Primary_Quote.SBQQ__BillingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Get_Primary_Quote.SBQQ__BillingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Closed_Lost</name>
        <label>Update Account (Closed Lost)</label>
        <locationX>1234</locationX>
        <locationY>1911</locationY>
        <connector>
            <targetReference>Is_do_not_send_churn_email_checked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Churned Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Account_Type__c</field>
            <value>
                <elementReference>UpdatedChildAccountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contracting_Through_Parent_Account__c</field>
            <value>
                <elementReference>UpdatedContractingThroughParentAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Comms_Educational_Enabled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Comms_Onboarding_Enabled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Comms_Operational_Enabled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Launch_Status_Expense__c</field>
            <value>
                <elementReference>UpdatedLiquidSpendLaunchStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Launch_Status_Travel__c</field>
            <value>
                <elementReference>UpdatedLiquidTravelLaunchStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>UpdatedParentAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Patch__c</field>
            <value>
                <elementReference>UpdatedTerritoryPatch</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Closed_Lost_0</name>
        <label>Update Account (Closed Lost)</label>
        <locationX>1624</locationX>
        <locationY>1485</locationY>
        <connector>
            <targetReference>Did_they_churn_pro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_SS_CW_PCL_CL_NB_Renewal_Opp__c</field>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Closed_Won_0</name>
        <label>Update Account (Closed Won)</label>
        <locationX>4204</locationX>
        <locationY>3395</locationY>
        <connector>
            <targetReference>SuperAdmin_Account_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_AP_Contact__c</field>
            <value>
                <elementReference>OpportunityId.Billing_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Won_Number_of_Employees__c</field>
            <value>
                <elementReference>OpportunityId.Account.Number_of_Employees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Comms_Educational_Enabled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Comms_Onboarding_Enabled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Comms_Operational_Enabled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expense_Account_Executive__c</field>
            <value>
                <elementReference>ExpenseAEFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_CW_New_Business_Opp__c</field>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Launch_Status_Expense__c</field>
            <value>
                <elementReference>NBLiquidLaunchStatusExpense</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Spend_First_Sold_Date__c</field>
            <value>
                <elementReference>TCSFirstSoldDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pilot_Account__c</field>
            <value>
                <elementReference>OpportunityId.Pilot_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Comp_ACV_Multiplier__c</field>
            <value>
                <elementReference>CurrentACVMultiplier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Patch__c</field>
            <value>
                <stringValue>a4K1R000000UUd0UAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_CW_Reversal_NB</name>
        <label>Update Account (CW Reversal NB)</label>
        <locationX>3372</locationX>
        <locationY>548</locationY>
        <connector>
            <targetReference>Update_Opportunity_CW_Reverse_NB_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Product_Type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <elementReference>AccountStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Weighted_Trip_Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Comms_Educational_Enabled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Comms_Onboarding_Enabled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Comms_Operational_Enabled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LHG_Account__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_SS_CW_PCL_CL_NB_Renewal_Opp__c</field>
            <value>
                <elementReference>LatestSSCWPCLCLOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Spend_First_Sold_Date__c</field>
            <value>
                <elementReference>ReverseExpenseFirstSoldDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Comp_ACV_Multiplier__c</field>
            <value>
                <elementReference>ACVMultiplier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>AccountType</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_CW_Reversal_SS_NB</name>
        <label>Update Account (CW Reversal SS NB)</label>
        <locationX>3202</locationX>
        <locationY>742</locationY>
        <connector>
            <targetReference>Update_Opportunity_CW_Reverse_SS_NB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Product_Type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <elementReference>AccountStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Comms_Educational_Enabled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Comms_Onboarding_Enabled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Comms_Operational_Enabled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Spend_First_Sold_Date__c</field>
            <value>
                <elementReference>ReverseExpenseFirstSoldDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Comp_ACV_Multiplier__c</field>
            <value>
                <elementReference>ACVMultiplier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>AccountType</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_CW_Reverse_SS_Upsell_Renewal</name>
        <label>Update Account (CW Reverse SS Upsell/Renewal)</label>
        <locationX>2905</locationX>
        <locationY>735</locationY>
        <connector>
            <targetReference>Update_Opportunity_CW_Reverse_SS_NB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Liquid_Spend_First_Sold_Date__c</field>
            <value>
                <elementReference>ReverseExpenseFirstSoldDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Comp_ACV_Multiplier__c</field>
            <value>
                <elementReference>ACVMultiplier</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_CW_Upsell</name>
        <label>Update Account (CW Upsell)</label>
        <locationX>4441</locationX>
        <locationY>2240</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Liquid_Launch_Status_Expense__c</field>
            <value>
                <elementReference>UpsellRenewalLiquidExpenseLaunchStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Spend_First_Sold_Date__c</field>
            <value>
                <elementReference>TCSFirstSoldDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pilot_Account__c</field>
            <value>
                <elementReference>OpportunityId.Pilot_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Comp_ACV_Multiplier__c</field>
            <value>
                <elementReference>CurrentACVMultiplier</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_PCL_CL</name>
        <label>Update Account (PCL/CL)</label>
        <locationX>3047</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_SS_CW_PCL_CL_NB_Renewal_Opp__c</field>
            <value>
                <elementReference>LatestSSCWPCLCLOpp</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Renewal</name>
        <label>Update Account Renewal</label>
        <locationX>3656</locationX>
        <locationY>2469</locationY>
        <connector>
            <targetReference>Downsold_Pro_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Liquid_Launch_Status_Expense__c</field>
            <value>
                <elementReference>UpsellRenewalLiquidExpenseLaunchStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Spend_First_Sold_Date__c</field>
            <value>
                <elementReference>TCSFirstSoldDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pilot_Account__c</field>
            <value>
                <elementReference>OpportunityId.Pilot_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Comp_ACV_Multiplier__c</field>
            <value>
                <elementReference>CurrentACVMultiplier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Self_Sell_Account__c</field>
            <value>
                <elementReference>RenewalSelfSellAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Reverse_NB_Upsell_Renewal</name>
        <label>Update Account (Reverse NB/Upsell/Renewal)</label>
        <locationX>3511</locationX>
        <locationY>348</locationY>
        <connector>
            <targetReference>Update_Opportunity_CW_Reverse_NB_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_SS_CW_PCL_CL_NB_Renewal_Opp__c</field>
            <value>
                <elementReference>LatestSSCWPCLCLOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Spend_First_Sold_Date__c</field>
            <value>
                <elementReference>ReverseExpenseFirstSoldDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Comp_ACV_Multiplier__c</field>
            <value>
                <elementReference>ACVMultiplier</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Sales_Submitted</name>
        <label>Update Account (Sales Submitted)</label>
        <locationX>3397</locationX>
        <locationY>1916</locationY>
        <connector>
            <targetReference>Send_EBUM_Upsell_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Weighted_Trip_Fee__c</field>
            <value>
                <elementReference>ConvertedWeightedTripFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Implementation_Package__c</field>
            <value>
                <elementReference>UpdatedImplementationPackage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Service_Package__c</field>
            <value>
                <elementReference>UpdatedServicePackage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LHG_Account__c</field>
            <value>
                <elementReference>OpportunityId.LHG_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_SS_CW_PCL_CL_NB_Renewal_Opp__c</field>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Sales_Submitted_Renewal</name>
        <label>Update Account (Sales Submitted) Renewal</label>
        <locationX>3393</locationX>
        <locationY>1642</locationY>
        <connector>
            <targetReference>Send_EBUM_Upsell_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Implementation_Package__c</field>
            <value>
                <elementReference>UpdatedImplementationPackage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Service_Package__c</field>
            <value>
                <elementReference>UpdatedServicePackage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_SS_CW_PCL_CL_NB_Renewal_Opp__c</field>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Sales_Submitted_Upsell</name>
        <label>Update Account (Sales Submitted) Upsell</label>
        <locationX>3404</locationX>
        <locationY>1782</locationY>
        <connector>
            <targetReference>Send_EBUM_Upsell_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Implementation_Package__c</field>
            <value>
                <elementReference>UpdatedImplementationPackage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Service_Package__c</field>
            <value>
                <elementReference>UpdatedServicePackage</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_SS_Reverse_NB</name>
        <label>Update Account (SS Reverse NB)</label>
        <locationX>2567</locationX>
        <locationY>421</locationY>
        <connector>
            <targetReference>Update_Opportunity_SS_Reverse_NB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Weighted_Trip_Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LHG_Account__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_SS_CW_PCL_CL_NB_Renewal_Opp__c</field>
            <value>
                <elementReference>LatestSSCWPCLCLOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Spend_First_Sold_Date__c</field>
            <value>
                <elementReference>ReverseExpenseFirstSoldDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Comp_ACV_Multiplier__c</field>
            <value>
                <elementReference>ACVMultiplier</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_SS_Reverse_NB_Upsell_Renewal_0_0_0</name>
        <label>Update Account (SS Reverse NB/Upsell/Renewal)</label>
        <locationX>2738</locationX>
        <locationY>562</locationY>
        <connector>
            <targetReference>Update_Opportunity_SS_Reverse_NB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_SS_CW_PCL_CL_NB_Renewal_Opp__c</field>
            <value>
                <elementReference>LatestSSCWPCLCLOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Spend_First_Sold_Date__c</field>
            <value>
                <elementReference>ReverseExpenseFirstSoldDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Comp_ACV_Multiplier__c</field>
            <value>
                <elementReference>ACVMultiplier</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Vendor_of_Choice</name>
        <label>Update Account (Vendor of Choice)</label>
        <locationX>2077</locationX>
        <locationY>1272</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeanData_Route_to_CSM__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approvals_CL</name>
        <label>Update Approvals CL</label>
        <locationX>2454</locationX>
        <locationY>1921</locationY>
        <connector>
            <targetReference>Closed_Lost_Branch</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Quote_Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>sbaa__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <filters>
            <field>sbaa__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>sbaa__Status__c</field>
            <value>
                <stringValue>Revoked</stringValue>
            </value>
        </inputAssignments>
        <object>sbaa__Approval__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approvals_CW</name>
        <label>Update Approvals CW</label>
        <locationX>2621</locationX>
        <locationY>1926</locationY>
        <connector>
            <targetReference>Update_Opportunity_Closed_Won_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Quote_Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>sbaa__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <filters>
            <field>sbaa__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>sbaa__Status__c</field>
            <value>
                <stringValue>Revoked</stringValue>
            </value>
        </inputAssignments>
        <object>sbaa__Approval__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Upsell</name>
        <label>Update Contract - Upsell</label>
        <locationX>4440</locationX>
        <locationY>2075</locationY>
        <connector>
            <targetReference>Update_Account_CW_Upsell</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.SBQQ__AmendedContract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPQ_Billing_Contact__c</field>
            <value>
                <elementReference>OpportunityId.SBQQ__PrimaryQuote__r.CPQ_Quote_Billing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPQ_Billing_Frequency__c</field>
            <value>
                <elementReference>OpportunityId.SBQQ__PrimaryQuote__r.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPQ_Payment_Term__c</field>
            <value>
                <elementReference>OpportunityId.SBQQ__PrimaryQuote__r.SBQQ__PaymentTerms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPQ_Renewal_Type__c</field>
            <value>
                <elementReference>OpportunityId.SBQQ__PrimaryQuote__r.CPQ_Renewal_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPQ_Rewards__c</field>
            <value>
                <elementReference>OpportunityId.SBQQ__PrimaryQuote__r.CPQ_Rewards__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EUR_Local_Entity_Address__c</field>
            <value>
                <elementReference>EuroLocalEntityAddressFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EUR_Local_Entity_Country__c</field>
            <value>
                <elementReference>EURLocalEntityCountryFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EUR_Local_Entity_Name__c</field>
            <value>
                <elementReference>EURLocalEntityNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expense_Statement_Frequency__c</field>
            <value>
                <elementReference>OpportunityId.SBQQ__PrimaryQuote__r.Expense_Statement_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FX_Fee_EUR_GBP__c</field>
            <value>
                <elementReference>FXFeePercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBP_Local_Entity_Address__c</field>
            <value>
                <elementReference>GBPLocalEntityAddressFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GBP_Local_Entity_Name__c</field>
            <value>
                <elementReference>GBPLocalEntityNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Handling_Fee__c</field>
            <value>
                <elementReference>OpportunityId.SBQQ__PrimaryQuote__r.Handling_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Payment_Method__c</field>
            <value>
                <elementReference>LiquidPaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Payment_Terms__c</field>
            <value>
                <elementReference>LiquidPaymentTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquid_Rebate__c</field>
            <value>
                <elementReference>LiquidRebate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Language__c</field>
            <value>
                <elementReference>OpportunityId.SBQQ__PrimaryQuote__r.Marketing_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_CNR_Hotel_Rebate__c</field>
            <value>
                <elementReference>OpportunityId.SBQQ__PrimaryQuote__r.Non_CNR_Hotel_Rebate_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA__c</field>
            <value>
                <elementReference>OpportunityId.SBQQ__PrimaryQuote__r.SLA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terms_of_Service__c</field>
            <value>
                <elementReference>OpportunityId.SBQQ__PrimaryQuote__r.Terms_of_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USD_Local_Entity_Address__c</field>
            <value>
                <elementReference>USDLocalEntityAddressFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USD_Local_Entity_Name__c</field>
            <value>
                <elementReference>USDLocalEntityNameFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Countries</name>
        <label>Update Countries</label>
        <locationX>2978</locationX>
        <locationY>1336</locationY>
        <connector>
            <targetReference>Get_TBUMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Country_Launch_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Launch_Status__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Launch_Date__c</field>
        </inputAssignments>
        <object>Country__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Countries_Closed_Won</name>
        <label>Update Countries (Closed Won)</label>
        <locationX>2755</locationX>
        <locationY>2129</locationY>
        <connector>
            <targetReference>Update_TBUMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country_Launch_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Country_Launch_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Country__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Debooked_Order</name>
        <label>Update Debooked Order</label>
        <locationX>3060</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Update_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Debooked_Order__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Closed_Won_0</name>
        <label>Update Opportunity (Closed Won)</label>
        <locationX>2624</locationX>
        <locationY>2076</locationY>
        <connector>
            <targetReference>Update_Countries_Closed_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Finance_Review_Status__c</field>
            <value>
                <elementReference>CWFinanceReviewStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <elementReference>CPQOrdered</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_CW_Reverse_NB_0</name>
        <label>Update Opportunity (CW Reverse NB)</label>
        <locationX>3510</locationX>
        <locationY>550</locationY>
        <connector>
            <targetReference>Get_Open_Renewals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_CW_Opp__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Closed_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_CW_Reverse_SS_NB</name>
        <label>Update Opportunity (CW Reverse SS NB)</label>
        <locationX>3053</locationX>
        <locationY>889</locationY>
        <connector>
            <targetReference>Get_Open_Renewals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_CW_Opp__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_SS_Reverse_NB</name>
        <label>Update Opportunity (SS Reverse NB)</label>
        <locationX>2564</locationX>
        <locationY>565</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Closed_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Products</name>
        <label>Update Order Products</label>
        <locationX>2899</locationX>
        <locationY>1138</locationY>
        <connector>
            <targetReference>Update_Countries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__QuoteLine__c</field>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pilot_Account_Closed_Won</name>
        <label>Update Pilot Account (Closed Won)</label>
        <locationX>3782</locationX>
        <locationY>2020</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Pilot</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TBUM</name>
        <label>Update TBUM</label>
        <locationX>2677</locationX>
        <locationY>968</locationY>
        <connector>
            <targetReference>Loop_Through_TBUMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_TBUMs.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Historical_Country__c</field>
            <value>
                <elementReference>Loop_Through_TBUMs.Country_Name__r.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Historical_Who_is_servicing_this_country__c</field>
            <value>
                <elementReference>Loop_Through_TBUMs.Country_Name__r.Who_is_servicing_this_country__c</elementReference>
            </value>
        </inputAssignments>
        <object>TBUM__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TBUMs</name>
        <label>Update TBUMs</label>
        <locationX>2890</locationX>
        <locationY>2142</locationY>
        <connector>
            <targetReference>Updated_Liquid_Travel_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>OpportunityId.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>TBUM__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Existing_GBVs_Churn</name>
        <label>Updating Existing GBVs Churn</label>
        <locationX>1513</locationX>
        <locationY>1903</locationY>
        <connector>
            <targetReference>Update_Account_Closed_Lost</targetReference>
        </connector>
        <inputReference>ChurnExistingGBVs</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1576</locationX>
        <locationY>656</locationY>
        <connector>
            <targetReference>Stage_Being_Reversed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChurnedProEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Contract End Date: {!OpportunityId.End_Date_2__c}
Agreed Upon Deactivation Date: {!OpportunityId.Agreed_Upon_Deactivation_Date__c}
Closed Notes: {!OpportunityId.Closed_Notes__c}
Opportunity: https://navan.lightning.force.com/{!OpportunityId.Id}
Account Manager: {!OpportunityId.Account_Global_CS_Manager__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ChurnedProSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!OpportunityId.Account.Name} has Churned from Navan Pro - Full Logo Churn</text>
    </textTemplates>
    <textTemplates>
        <name>DownsoldProEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Account Name: {!OpportunityId.Account.Name}
Next Contract Start Date: {!OpportunityId.Start_Date__c}
Closed Notes: {!OpportunityId.Closed_Notes__c}
Opportunity: https://navan.lightning.force.com/{!OpportunityId.Id}
Account Manager: {!OpportunityId.Account_Global_CS_Manager__c}</text>
    </textTemplates>
    <textTemplates>
        <name>DownsoldSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!OpportunityId.Account.Name} Navan Pro Downsell</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello,
This email is to notify you that an opportunity just closed for {!OpportunityId.Account.Name}. Please check to make sure Superadmin is updated with the most recent trip fee pricing, and new POS and products are set up.

Opp Link: https://navan.lightning.force.com/lightning/r/Opportunity/{!OpportunityId.OpportunityID18__c}
Opportunity product type = {!OpportunityId.Opportunity_Product_Type__c}
Start Date: {!OpportunityId.Start_Date__c}

If the account has liquid/expense, please check the following in Control Panel:
Expense Payment Terms: {!OpportunityId.Liquid_Payment_Terms__c}
Expense Rebate % = {!OpportunityId.Liquid_Rebate__c}
Non-CNR Hotel Rebate = {!OpportunityId.Non_CNR_Hotel_Rebate__c}
FX Fee (EUR/GBP): {!OpportunityId.FX_Fee_EUR_GBP__c}

Regards,
Revenue Operations</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!OpportunityId.Type} closed on {!OpportunityId.Account.Name} - please confirm set up</text>
    </textTemplates>
    <textTemplates>
        <name>RenewalEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello,
This email is to notify you that an opportunity just closed for {!OpportunityId.Account.Name}. Please check to make sure Superadmin is updated with the most recent trip fee pricing, and new POS and products are set up.

Opp Link: https://navan.lightning.force.com/lightning/r/Opportunity/{!OpportunityId.OpportunityID18__c}
Upsold Opp Product Type: {!OpportunityId.Upsold_Opp_Product_Type__c}
Downsold Opp Product Type: {!OpportunityId.Downsold_Opp_Product_Type__c}
Start Date: {!OpportunityId.Start_Date__c}

If the account has liquid/expense, please check the following in Control Panel:
Expense Payment Terms: {!OpportunityId.Liquid_Payment_Terms__c}
Expense Rebate % = {!OpportunityId.Liquid_Rebate__c}
Non-CNR Hotel Rebate = {!OpportunityId.Non_CNR_Hotel_Rebate__c}
FX Fee (EUR/GBP): {!OpportunityId.FX_Fee_EUR_GBP__c}

Regards,
Revenue Operations</text>
    </textTemplates>
    <textTemplates>
        <name>Salesopsemail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Salesops@navan.com&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>sendStage1Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!OpportunityId.Name} has hit Stage 1&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;SDR:&lt;/strong&gt; {!OpportunityId.Sourced_By__r.FirstName} {!OpportunityId.Sourced_By__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;AE:&lt;/strong&gt; {!OpportunityId.Owner.FirstName} {!OpportunityId.Owner.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Prospect:&lt;/strong&gt; {!OpportunityId.Primary_Contact__r.FirstName} {!OpportunityId.Primary_Contact__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account:&lt;/strong&gt; {!OpportunityId.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Title:&lt;/strong&gt; {!OpportunityId.Primary_Contact__r.Title}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Lead Source:&lt;/strong&gt; {!OpportunityId.Final_Campaign_Attribution__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;https://tripactions.lightning.force.com/{!OpportunityId.Id}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ACVMultiplier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AllContentDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ChurnExistingGBVs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TBUM__c</objectType>
    </variables>
    <variables>
        <name>ChurnRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TBUM__c</objectType>
    </variables>
    <variables>
        <name>ContentLinkTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>EmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>PriorStageValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleOppLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>TempChurnRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TBUM__c</objectType>
    </variables>
    <variables>
        <name>TempTBUM</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TBUM__c</objectType>
    </variables>
    <variables>
        <name>TempTBUMRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TBUM__c</objectType>
    </variables>
    <waits>
        <name>SuperAdmin_Account_Creation</name>
        <label>SuperAdmin Account Creation</label>
        <locationX>4268</locationX>
        <locationY>2891</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Trigger_SA_Account_Creation</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityId.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Comtravo_Migration_Opp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId.Self_Sell_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_Trigger_Checkbox</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Pause10Minutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Trigger SA Account Creation</label>
        </waitEvents>
    </waits>
</Flow>
