gearset/main/default/flows/Toms_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Owner</name>
        <label>Send Email To Owner</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Uh oh</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>tom@gearset.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Count_number_of_records</name>
        <label>Count number of records</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>NumberOfOpenOpps</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_Of_Open_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_opp</name>
        <label>Update opp</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Set_to_needs_analysis.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Analysis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_to_needs_analysis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_to_needs_analysis</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Number_Of_Open_Opps</name>
        <label>Check Number Of Open Opps</label>
        <locationX>226</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Set_to_needs_analysis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfOpenOpps</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myerror</targetReference>
            </connector>
            <label>More than 3</label>
        </rules>
    </decisions>
    <interviewLabel>Account Industry Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow with error</label>
    <loops>
        <name>Set_to_needs_analysis</name>
        <label>Set to needs analysis</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opps</name>
        <label>Get Opps</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_number_of_records</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opps</name>
        <label>Update Opps</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <inputReference>OppsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opps</targetReference>
        </connector>
        <filters>
            <field>Industry</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBody</name>
        <text>&lt;p&gt;Change&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_Filter_to_open_opps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NumberOfOpenOpps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OppsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
